<footer class="footer">
  <div class="container-fluid d-flex align-items-center justify-content-center py-2 h-100">
    <p class="mb-0">&copy; {{currentYear}} <a href="https://mhmoud-khaled.github.io/Portfolio/">Mahmoud Khaled</a> All
      rights reserved.</p>
    <ul>
      <li>
        Get In Touch:
      </li>
      <li>
        <a class="linkedin" href="https://www.linkedin.com/in/developer-mahmoud-khaled/">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a class="github" href="https://github.com/Mhmoud-Khaled">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a class="email" href="mailto:mahmoud.khaled.m.96@gmail.com">
          &commat;
        </a>
      </li>
    </ul>
  </div>
</footer>
